<div class="settings-panel">
  <div class="mt-4 d-table w-100 px-5">
    <div class="d-table-cell align-middle">
      <h5 class="p-0">
        应用布局
      </h5>
    </div>
  </div>
  <div class="list" id="fh">
    <a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle"
       data-class="header-function-fixed"></a>
    <span class="onoffswitch-title">固定标题栏</span>
    <span class="onoffswitch-title-desc">标题栏任何时候都是固定的</span>
  </div>
  <div class="list" id="nff">
    <a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle"
       data-class="nav-function-fixed"></a>
    <span class="onoffswitch-title">固定导航栏</span>
    <span class="onoffswitch-title-desc">左侧面板固定</span>
  </div>
  <div class="list" id="nfm">
    <a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle"
       data-class="nav-function-minify"></a>
    <span class="onoffswitch-title">缩小导航栏</span>
    <span class="onoffswitch-title-desc">缩小导航以最大化空间</span>
  </div>
  <div class="list" id="nfh">
    <a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle"
       data-class="nav-function-hidden"></a>
    <span class="onoffswitch-title">隐藏导航栏</span>
    <span class="onoffswitch-title-desc">滚动鼠标在边缘上显示</span>
  </div>
  <div class="list" id="nft">
    <a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle"
       data-class="nav-function-top"></a>
    <span class="onoffswitch-title">导航栏置顶</span>
    <span class="onoffswitch-title-desc">将左窗格重新定位到顶部</span>
  </div>
  <div class="list" id="mmb">
    <a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-main-boxed"></a>
    <span class="onoffswitch-title">盒装的布局</span>
    <span class="onoffswitch-title-desc">封装到容器中</span>
  </div>
  <div class="list mt-1">
    <span class="onoffswitch-title">字体大小 <small>(刷新重置)</small> </span>
    <div class="btn-group btn-group-sm btn-group-toggle my-2" data-toggle="buttons">
      <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-sm" data-target="html">
        <input type="radio" name="changeFrontSize"> 小
      </label>
      <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text" data-target="html">
        <input type="radio" name="changeFrontSize" checked=""> 中
      </label>
      <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-lg" data-target="html">
        <input type="radio" name="changeFrontSize"> 大
      </label>
      <label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-xl" data-target="html">
        <input type="radio" name="changeFrontSize"> 超大
      </label>
    </div>
    <span class="onoffswitch-title-desc d-block mb-0">
      修改 <strong>根</strong> 字体大小以影响rem值
    </span>
  </div>
  <div class="mt-2 d-table w-100 pl-5 pr-3">
    <div class="d-table-cell align-middle">
      <h5 class="p-0">
        颜色主题
      </h5>
    </div>
  </div>
  <div class="expanded theme-colors pl-5 pr-3">
    <ul class="m-0">
      <li>
        <a href="#"
           id="myapp-0"
           data-action="theme-update"
           data-themesave
           data-theme=""
           data-toggle="tooltip"
           data-placement="top"
           title="Wisteria (base css)"
           data-original-title="Wisteria (base css)"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-1"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-1.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Tapestry"
           data-original-title="Tapestry"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-2"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-2.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Atlantis"
           data-original-title="Atlantis"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-3"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-3.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Indigo"
           data-original-title="Indigo"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-4"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-4.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Dodger Blue"
           data-original-title="Dodger Blue"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-5"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-5.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Tradewind"
           data-original-title="Tradewind"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-6"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-6.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Cranberry"
           data-original-title="Cranberry"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-7"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-7.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Oslo Gray"
           data-original-title="Oslo Gray"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-8"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-8.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Chetwode Blue"
           data-original-title="Chetwode Blue"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-9"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-9.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Apricot"
           data-original-title="Apricot"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-10"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-10.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Blue Smoke"
           data-original-title="Blue Smoke"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-11"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-11.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Green Smoke"
           data-original-title="Green Smoke"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-12"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-12.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Wild Blue Yonder"
           data-original-title="Wild Blue Yonder"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-13"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-13.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Emerald"
           data-original-title="Emerald"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-14"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-14.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Supernova"
           data-original-title="Supernova"></a>
      </li>
      <li>
        <a href="#"
           id="myapp-15"
           data-action="theme-update"
           data-themesave
           data-theme="/Content/css/themes/cust-theme-15.css"
           data-toggle="tooltip"
           data-placement="top"
           title="Hoki"
           data-original-title="Hoki"></a>
      </li>
    </ul>
  </div>
  <hr class="mb-0 mt-4">
  <div class="mt-4 d-table w-100 pl-5 pr-3">
    <div class="d-table-cell align-middle">
      <h5 class="p-0 pr-2 d-flex">
        主题模式
      </h5>
    </div>
  </div>
  <div class="pl-5 pr-3 py-3">
    <div class="ie-only alert alert-warning d-none">
      <h6>Internet Explorer Issue</h6>
      This particular component may not work as expected in Internet Explorer. Please use with caution.
    </div>
    <div class="row no-gutters">
      <div class="col-4 pr-2 text-center">
        <div id="skin-default"
             data-action="toggle-replace" data-replaceclass="mod-skin-light mod-skin-dark" data-class=""
             data-toggle="tooltip"
             data-placement="top"
             title=""
             class="d-flex bg-white border border-primary rounded overflow-hidden text-success js-waves-on"
             data-original-title="默认"
             style="height: 80px">
          <div class="bg-primary-600 bg-primary-gradient px-2 pt-0 border-right border-primary"></div>
          <div class="d-flex flex-column flex-1">
            <div class="bg-white border-bottom border-primary py-1"></div>
            <div class="bg-faded flex-1 pt-3 pb-3 px-2">
              <div class="py-3" style="background:url('/Content/img/demo/s-1.png') top left no-repeat;background-size: 100%;"></div>
            </div>
          </div>
        </div>
        默认
      </div>
      <div class="col-4 px-1 text-center">
        <div id="skin-light"
             data-action="toggle-replace" data-replaceclass="mod-skin-dark" data-class="mod-skin-light"
             data-toggle="tooltip"
             data-placement="top"
             title=""
             class="d-flex bg-white border border-secondary rounded overflow-hidden text-success js-waves-on"
             data-original-title="明亮模式"
             style="height: 80px">
          <div class="bg-white px-2 pt-0 border-right border-"></div>
          <div class="d-flex flex-column flex-1">
            <div class="bg-white border-bottom border- py-1"></div>
            <div class="bg-white flex-1 pt-3 pb-3 px-2">
              <div class="py-3" style="background:url('/Content/img/demo/s-1.png') top left no-repeat;background-size: 100%;"></div>
            </div>
          </div>
        </div>
        明亮
      </div>
      <div class="col-4 pl-2 text-center">
        <div id="skin-dark"
             data-action="toggle-replace" data-replaceclass="mod-skin-light" data-class="mod-skin-dark"
             data-toggle="tooltip"
             data-placement="top"
             title=""
             class="d-flex bg-white border border-dark rounded overflow-hidden text-success js-waves-on"
             data-original-title="暗黑模式"
             style="height: 80px">
          <div class="bg-fusion-500 px-2 pt-0 border-right"></div>
          <div class="d-flex flex-column flex-1">
            <div class="bg-fusion-600 border-bottom py-1"></div>
            <div class="bg-fusion-300 flex-1 pt-3 pb-3 px-2">
              <div class="py-3 opacity-30" style="background:url('/Content/img/demo/s-1.png') top left no-repeat;background-size: 100%;"></div>
            </div>
          </div>
        </div>
        暗黑
      </div>
    </div>
  </div>
  <hr class="mb-0 mt-4">
  <div class="pl-5 pr-3 py-3 bg-faded">
    <div class="row no-gutters">
      <div class="col-6 pr-1">
        <a href="#" class="btn btn-outline-danger fw-500 btn-block" data-action="app-reset">重置</a>
      </div>
      <div class="col-6 pl-1">
        <a href="#" class="btn btn-danger fw-500 btn-block" data-action="factory-reset">恢复默认</a>
      </div>
    </div>
  </div>
</div>