<style>
  .plfile_empty_div {
    position: absolute;
    left: 27%;
    top: 43%;
    z-index: 1;
  }

  ul#filelist {
    width: 450px;
    min-height: 100px;
    background: #fff;
    border-left: 0;
    border-right: 0;
    line-height: 24px;
    overflow: hidden;
    margin: 0 15px;
    padding: 5px 0;
    font-size: 12px;
  }

    ul#filelist li {
      list-style-type: none;
      margin: 4px 0;
      padding: 0px 17px 0px 0px;
    }

      ul#filelist li:hover {
        background: #d6e7f9;
      }

  #filelist li {
    clear: both;
    line-height: 22px;
    height: 22px;
  }

  .plupload_filename {
    width: 230px;
    display: block;
    float: left;
    word-wrap: break-word;
    margin-right: 10px;
    line-height: 22px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .plupload_filesize {
    width: 80px;
    line-height: 22px;
    display: block;
    float: left;
  }

  .plupload_d-none {
    display: none;
  }

  .plupload_fileremove {
    float: right;
    line-height: 22px;
    display: block;
    cursor: pointer;
  }

  .plupload_fileprogress {
    display: block;
    width: 60px;
    line-height: 22px;
    margin-right:19px;
    float: right;
    text-align: right;
  }
</style>

<div class="modal fade" id="uploadfilesmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          文件上传
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body pb-0 pt-0">
        <div id="slimscroll">
          <div id="file_empty_div" class="plfile_empty_div">
            <span style="color: Dodgerblue;"><i class="fal fa-exclamation-circle"></i></span> 请使用[选择文件]按钮，选择文件。
          </div>
          <ul id="filelist"></ul>
        </div>
        <div id="plupload_max_size_alert" class="alert alert-primary mb-0  fw-300 fs-sm p-2  d-none" role="alert">
          <strong>提示</strong> 上传文件大小请控制在20MB以内。
        </div>
        <input id="fileupload" type="file" name="fileupload" multiple style="display: none" />

      </div>
      <div class="modal-footer">
        <button id="selectuploadfilesbtn" type="button" class="btn btn-info">选择文件</button>
        <button id="postuploadfilesbtn" type="button" class="btn btn-primary">上传</button>
      </div>
    </div>
  </div>
</div>
<script src="~/Scripts/plugin/plupload/js/plupload.full.min.js"></script>
<script src="~/Scripts/plugin/plupload/js/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
<script src="~/Scripts/plugin/plupload/js/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>
<script src="~/Scripts/plugin/filesize/filesize.min.js"></script>
<script type="text/javascript">


  function openuploadfilemodal() {
    $('#uploadfilesmodal').modal('toggle');
  }
  document.addEventListener("DOMContentLoaded", function () {


    $('#slimscroll').slimScroll({
      height: '100px',
      railVisible: true,
      alwaysVisible: false,
    });
    var uploader = new plupload.Uploader({
      runtimes: 'html5,flash,silverlight,html4',
      filters: {
        max_file_size: "20mb"
      },
      browse_button: 'selectuploadfilesbtn', // this can be an id of a DOM element or the DOM element itself
      url: '/Attachments/Upload',
      flash_swf_url: '/scripts/plugin/plupload/js/Moxie.swf',
      silverlight_xap_url: '/scripts/plugin/plupload/js/Moxie.xap'
    });
    uploader.init();
    //验证文件大小
    plupload.addFileFilter('max_file_size', function (maxSize, file, cb) {
      var undef;
      if (file.size !== undef && maxSize && file.size > plupload.parseSize(maxSize)) {
        this.trigger('Error', {
          code: plupload.FILE_SIZE_ERROR,
          message: plupload.translate('File size error.'),
          file: file
        });
        cb(false);
      } else {
        cb(true);
      }
    });
    //初始化
    uploader.bind('Init', function (up) {
      $('#plupload_max_size_alert').addClass('d-none');
    });
    //设置post参数
    uploader.bind('BeforeUpload', function (up) {
      up.settings.multipart_params.tags = '';
    });
    //单击选择文件
    uploader.bind('Browse', function () {
      $('#plupload_max_size_alert').addClass('d-none');
    });
    //分段上传
    uploader.bind('ChunkUploaded', function (up, file, info) {
      console.log(up, file, info)
    });
    //捕获异常
    uploader.bind('Error', function (up, error) {
      console.log(up, error)
      if (error.code == -600) {
        $('#plupload_max_size_alert').removeClass('d-none')
      } else {
        bootbox.alert(`异常:${error.message}`);
      }
    });
    //添加文件
    uploader.bind('FilesAdded', function (up, files) {
      $('#file_empty_div').hide()
      var html = '';
      plupload.each(files, function (file) {
        html += ` <li id="${file.id}"  >
                        <span class="plupload_filename">${file.name}</span>
                        <span id="filesize" class="plupload_filesize">(大小:${plupload.formatSize(file.size)})</span>
                        <span id="plfilesize" class="plupload_d-none">${plupload.formatSize(file.size)}</span>
                        <span id="remove" class="plupload_fileremove">
                                    <a href="javascript:void(0);" class="btn btn-outline-info btn-xs btn-icon waves-effect waves-themed">
                                        <i class="fal fa-times"></i>
                                    </a>
                        </span>
                        <span id="progress" class="plupload_fileprogress"></span>
                        </li>`
        //html += '<li id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></li>';
      });
      document.getElementById('filelist').innerHTML += html;
    });
    //删除队列中的文件
    $(document).on('click', '#remove', function (e) {
      var li = $(this).closest('li');
      var fileid = li.attr('id');
      uploader.removeFile(fileid);
      li.remove()
      if ($('ul#filelist li').length == 0) {
        $('#file_empty_div').show();
      }
    });
    //显示进度
    uploader.bind('UploadProgress', function (up, file) {
      $(`li#${file.id} > .plupload_fileprogress`).text(file.percent + " %")

    });
    uploader.bind('BeforeChunkUpload', function (up, file) {
      //console.log('BeforeChunkUpload', up, file)

    });

    //完成上传
    uploader.bind('UploadComplete', function (up, files) {
      //console.log('UploadComplete', up.files)
      $('#plupload_max_size_alert').addClass('d-none');
      $('#uploadfilesmodal').modal('toggle')
      uploader.files.forEach(function (item) {
        uploader.removeFile(item);
        $(`ul#filelist #${item.id}`).remove();
      });
      $('#file_empty_div').show();
      reload()
    });
    //开始上传
    $('#postuploadfilesbtn').click(function () {
      uploader.start();
    });
  });



</script>
